@model Shop_ETC.Models.Detalle_venta

@{
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Borrar Pedido</title>
</head>
<body>
    <h3>¿Suguro que desea eliminar?</h3>
    <div>
        <h4>Detalle_venta</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombreProducto)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.nombreProducto)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.cantidad)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.cantidad)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.precio)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.precio)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.descripcion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.descripcion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.idUser)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.idUser)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Borrar" class="btn btn-success" /> |
                @Html.ActionLink("Regresar a lista", "Index")
            </div>
        }
    </div><br />
    <br />
</body>
</html>
