@model IEnumerable<Shop_ETC.Models.Detalle_venta>

@{
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Productos Reservados</title>
</head>
<body>
    <p>
        @Html.ActionLink("Crear Pedido", "Create")
    </p>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nombreProducto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.idUser)
                </th>
                <th></th>
            </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombreProducto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.idUser)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.idVenta }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.idVenta }) |
                        @Html.ActionLink("Borrar", "Delete", new { id = item.idVenta })
                    </td>
                </tr>
            }

</table>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
   
</body>
</html>
