@model Shop_ETC.Models.Usuario

@{
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Borrar Usuario</title>
   
</head>
<body>
    <h3>¿Seguro de borrar este usuario?</h3>
    <div>
        <h4>Usuario</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NombresUsuario)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NombresUsuario)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Nickusuario)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nickusuario)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Fecha_nacimiento)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fecha_nacimiento)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Genero)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Genero)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Contra)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Contra)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TipoUsuario.TipoUsuario1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TipoUsuario.TipoUsuario1)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Borrar" class="btn btn-success" /> |
                @Html.ActionLink("Regresar a Lista", "User")
            </div>
        }
    </div>
    <br />
   
</body>
</html>
