@model IEnumerable<Shop_ETC.Models.Usuario>

@{
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Usuarios</title>
</head>
<body>
    <p>
        @Html.ActionLink("Nueva Usuario", "Create")
    </p>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nickusuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha_nacimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    Contraseña
                </th>
                <th>
                   Tipo Usuario
                </th>
                <th></th>
            </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombresUsuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nickusuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha_nacimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoUsuario.TipoUsuario1)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Idusuario }) |
                        @Html.ActionLink("Detalle", "Details", new { id = item.Idusuario }) |
                        @Html.ActionLink("Borrar", "Delete", new { id = item.Idusuario })
                    </td>
                </tr>
            }

</table>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>
</html>