@model Shop_ETC.Models.Categorias

@{
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalle</title>
   
</head>
<body>
    <div>
        <h4>Categorias</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NombreCate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NombreCate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Idcategoria }) |
        @Html.ActionLink("Regresar a Lista", "Index")
    </p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  
</body>
</html>
