@model IEnumerable<Shop_ETC.Models.Productos>
@{
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Catalogo</title>
</head>
<body>
    <form>

        <div>

            <div class="baddy">
                <div class="wrap">
                    <h1 style="color:#494B4D; font-weight:400;  display:flex;  flex-direction:column;   text-align:center; margin:15px 0px;">Escoge un producto</h1>
                    <div class="store-wrapper" style="display:flex;">
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Filtrar
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" width="150px">
                                <div class="category_list" style="display:flex;  flex-direction:column; ">
                                    <a href="#" class="category_item" category="all">Todo</a>
                                    <a href="#" class="category_item" category="ordenadores">Ordenadores</a>
                                    <a href="#" class="category_item" category="Hogar">Hogar</a>
                                    <a href="#" class="category_item" category="Cocina">Cocina</a>
                                    <a href="#" class="category_item" category="Entretenimiento">Entretenimiento</a>
                                    <a href="#" class="category_item" category="Sonido">Sonido</a>
                                </div>
                            </div>
                        </div>
                        <section class="products-list">
                            @foreach (var item in Model)
                            {
                                if (item.Idcategoria == 1)
                                {
                                    <div class="products-item" category="ordenadores">
                                        <img Height="167" src="~/IMG/@Html.DisplayFor(modelItem => item.Imagen)" BorderStyle="Dotted" Width="240px" />
                                        <a href="">
                                            @Html.DisplayFor(modelItem => item.NombreProducto)<br />
                                            @Html.DisplayFor(modelItem => item.Precio_venta)<br />
                                            @Html.DisplayFor(modelItem => item.Descripcion)<br />
                                            @Html.DisplayFor(modelItem => item.Cantidad)<br />
                                        </a>
                                        <input onclick="document.location.href='@Url.Content("~/Home/Carrito/"+ item.Idproducto )'" type="button" class="btn btn-outline-primary" value="Agregar a carrito" />
                                    </div>
                                }
                                else if (item.Idcategoria == 2)
                                {
                                    <div class="products-item" category="Sonido">
                                        <img Height="167" src="~/IMG/@Html.DisplayFor(modelItem => item.Imagen)" BorderStyle="Dotted" Width="240px" />
                                        <a href="">
                                            @Html.DisplayFor(modelItem => item.NombreProducto)<br />
                                            @Html.DisplayFor(modelItem => item.Precio_venta)<br />
                                            @Html.DisplayFor(modelItem => item.Descripcion)<br />
                                            @Html.DisplayFor(modelItem => item.Cantidad)<br />
                                        </a>
                                        <input onclick="document.location.href='@Url.Content("~/Home/Carrito/"+ item.Idproducto )'" type="button" class="btn btn-outline-primary" value="Agregar a carrito" />
                                    </div>
                                }
                                else if (item.Idcategoria == 3)
                                {
                                    <div class="products-item" category="Hogar">
                                        <img Height="167" src="~/IMG/@Html.DisplayFor(modelItem => item.Imagen)" BorderStyle="Dotted" Width="240px" />
                                        <a href="">
                                            @Html.DisplayFor(modelItem => item.NombreProducto)<br />
                                            @Html.DisplayFor(modelItem => item.Precio_venta)<br />
                                            @Html.DisplayFor(modelItem => item.Descripcion)<br />
                                            @Html.DisplayFor(modelItem => item.Cantidad)<br />
                                        </a>
                                        <input onclick="document.location.href='@Url.Content("~/Home/Carrito/"+ item.Idproducto )'" type="button" class="btn btn-outline-primary" value="Agregar a carrito" />
                                    </div>
                                }
                                else if (item.Idcategoria == 4)
                                {
                                    <div class="products-item" category="Cocina">
                                        <img Height="167" src="~/IMG/@Html.DisplayFor(modelItem => item.Imagen)" BorderStyle="Dotted" Width="240px" />
                                        <a href="">
                                            @Html.DisplayFor(modelItem => item.NombreProducto)<br />
                                            @Html.DisplayFor(modelItem => item.Precio_venta)<br />
                                            @Html.DisplayFor(modelItem => item.Descripcion)<br />
                                            @Html.DisplayFor(modelItem => item.Cantidad)<br />
                                        </a>
                                        <input onclick="document.location.href='@Url.Content("~/Home/Carrito/"+ item.Idproducto )'" type="button" class="btn btn-outline-primary" value="Agregar a carrito" />
                                    </div>
                                }
                                else if (item.Idcategoria == 5)
                                {
                                    <div class="products-item" category="Entretenimiento">
                                        <img Height="167" src="~/IMG/@Html.DisplayFor(modelItem => item.Imagen)" BorderStyle="Dotted" Width="240px" />
                                        <a href="">
                                            @Html.DisplayFor(modelItem => item.NombreProducto)<br />
                                            @Html.DisplayFor(modelItem => item.Precio_venta)<br />
                                            @Html.DisplayFor(modelItem => item.Descripcion)<br />
                                            @Html.DisplayFor(modelItem => item.Cantidad)<br />
                                        </a>
                                        <input onclick="document.location.href='@Url.Content("~/Home/Carrito/"+ item.Idproducto )'" type="button" class="btn btn-outline-primary" value="Agregar a carrito" />
                                    </div>
                                }




                            }
                        </section>

                    </div>
                </div>
            </div>  <br />
        </div>

       
    </form>
  </body>
</html>

@*  @{
        var a = 1;
    }
    @section scripts
    {<script>
        $(document).ready(function () {
            $("#searh").submit(function (resibe) {
                resibe.preventDefault();
                url = "@Url.Content("~/Home/Buscar")"
                var parametros = $(this).serialize();
                $.post(Url, parametros, function (data) {
                    if (data == "1")
                    {
                        document.location.href="@Url.Content("~/")"
                    }
                    else {
                        alert(data);
                    }
                })
            })
        })
        </script>
    }*@